name: category_1_ci_dev_workflow

on:
  workflow_call:
    inputs:
      env_name:
        type: string
        description: "Execution Environment"
        required: true
        default: "dev"
      flow_type:
        type: string
        description: "The flow usecase to execute"
        required: true
        default: "flows/category_1"
      sub_flows_to_execute:
        type: string
        description: "The sub flows to execute"
        required: true
        default: "flows/standard/baseline"
      runtime:
        type: string
        description: "The runtime to use"
        default: "promptflow-cpu"
      run_diff:
        type: boolean
        description: "Run diff to determine which flows to execute"
        default: true
  workflow_dispatch:
    inputs:
      env_name:
        type: string
        description: "Execution Environment"
        required: true
        default: "dev"
      flow_type:
        type: string
        description: "The flow usecase to execute"
        required: true
        default: "flows/category_1"
      sub_flows_to_execute:
        type: string
        description: "The sub flows to execute"
        required: true
        default: "flows/standard/baseline"
      runtime:
        type: string
        description: "The runtime to use"
        default: "promptflow-cpu"
      run_diff:
        type: boolean
        description: "Run diff to determine which flows to execute"
        default: true
  push:
    branches:
      - main
      - development
    paths:
      - '.github/worklows/category_1_ci_pipeline.yml'
      - '.github/workflows/platform_ci_dev_workflow.yml'
      - 'src/llmops/**'
      - 'src/flows/category_1/**'

#=====================================
# Execute platform_ci_dev_workflow workflow for experiment, evaluation and deployment of flows
#=====================================
jobs:
  get_diff:
    if: ${{ github.event.inputs.run_diff == 'true' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Actions
      uses: actions/checkout@v4

    - name: Get all category 1 file changes
      id: get_category_1_file_changes
      uses: tj-actions/changed-files@v40

    - name: Get Flow Diffs
      id: get_flow_diffs
      uses: ./.github/actions/execute_script
      with:
        step_name: "Get Flow Diffs"
        script_parameter: |
          python -m llmops.common.flow_to_run \
            --category=category_1 \
            --changed_files="${{ steps.get_category_1_file_changes.outputs.all_changed_files }}" \
            --default_subflow="${{ inputs.sub_flows_to_execute }}" \
            --output_file_name="flows.txt"
        working_directory: src

    - name: Read Flows
      id: read-flows
      shell: bash
      run: |
        echo "flows=${cat flows.txt}" >> "$GITHUB_OUTPUT"
      working-directory: src

    outputs:
      flows: ${{ steps.read-flows.outputs.flows }}

  execute-platform-flow-ci:
    needs: get_diff
    uses: ./.github/workflows/platform_ci_dev_workflow.yml
    with:
      subscription_id: ${{ vars.SUBSCRIPTION_ID }}
      resource_group_name: ${{ vars.RESOURCE_GROUP_NAME }}
      workspace_name: ${{ vars.WORKSPACE_NAME }}
      env_name: ${{ inputs.env_name || 'dev'}}
      flow_type: ${{ inputs.flow_type || 'flows/category_1' }}
      sub_flows_to_execute: ${{ needs.jobs.get_diff.outputs.flows || inputs.sub_flows_to_execute }}
      runtime: ${{ inputs.runtime || 'promptflow-cpu' }}
    secrets:
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}